NET CLK LOC=E7;

NET ENA LOC=A9;
NET RS  LOC=F10;
NET RW  LOC=B9;
NET DATA_LCD<0> LOC=A8; 
NET DATA_LCD<1> LOC=B7;
NET DATA_LCD<2> LOC=A7;
NET DATA_LCD<3> LOC=C6;
NET DATA_LCD<4> LOC=A6;
NET DATA_LCD<5> LOC=A5;
NET DATA_LCD<6> LOC=B5;
NET DATA_LCD<7> LOC=A4;
NET CORD LOC =B14;
NET CORI LOC =C14;